@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #05683b;
  --color-secondary: #febe10;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: tr;
  --color-primary: #05683b;
  --color-secondary: #febe10;
}